In [40]:
from pathlib import Path

import pandas as pd

In [41]:
file = Path().resolve().parent / 'Results' / 'classification_results_df_scale.pkl'
df = pd.read_pickle(file)

In [42]:
sig_df = df.loc[lambda df: df.p_value < .05, :]

pivoted_df = sig_df.pivot_table(values='accuracy', index='lead', columns='classification_type', aggfunc='first')

In [43]:
pivoted_df = pivoted_df.fillna("ns")

In [44]:
pivoted_df

classification_type (BOD, OBJ) (BOD, PER) (OBJ, PER)
lead
F'3                      0.528         ns         ns
J'3                         ns         ns   0.552415
J'5                         ns   0.536111         ns
J'6                         ns   0.541333         ns
K'4                         ns         ns   0.544444
K'5                         ns         ns    0.54529
K'6                         ns         ns   0.608959
K'7                         ns         ns   0.537222
L'2                         ns         ns   0.536718
P'1                   0.608333         ns   0.602899
W'5                   0.551647         ns         ns
Y'1                         ns         ns   0.529469
Y'2                         ns         ns   0.554667
Y'3                         ns         ns   0.586462